/* TABLET */

@media screen and (max-width: 768px) {
    
    .container {
        width: 100%;
     }
}

/* MOBILE */

@media screen and (max-width: 480px) {
    
    .row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .row .col{
        width: 100%;
    }

    .card {
        margin-top: 50px;
    }
    
    .col-right {
        margin-top: 50px;
    }
}
    