/* MOBILE */

@media screen and (max-width: 480px) {
    
    .row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .row .col{
        width: 100%;
    }

    .card {
        margin-top: 50px;
    }
    
    .col-right {
        margin-top: 50px;
    }

    .why-us {
        background-color: #222222;
        margin-bottom: 0px;
    }

    .steps {
        margin: 0px;
    }

    section {
        padding-top: 35px;
    }

    .lessons {
        padding-bottom: 35px;
    }
}
    
/* TABLET */

@media screen and (max-width: 768px) {
    
    .container {
        width: 100%;
     }
}

/* TRA 768 E 1160 */

@media screen and (min-width: 769px) and (max-width: 1160px) {
    
    .container {
        width: 100%;
     }
}
